.Movie {
    cursor: pointer;
    display: flex;
    flex-basis: 33.33%;
    overflow: hidden;
    position: relative;
}

.Movie .data {
    background: rgb(255,255,255, 0.9);
    bottom: 0;
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
    font-family: "Open Sans", sans-serif;
    padding: 1em;
    position: absolute;
    width: 100%;
}

.Movie .movieTitle {
    color: #333;
    font-weight: 300;
    margin: 1rem 0 0;
}

.Movie .icon-star {
    display: inline-block;
    height: 16px;
    margin: 0 0.25rem 0 0.1rem;
    width: 16px;
} 

@media screen and (min-device-width: 641px) { 
    .Movie {
        flex-basis: 33.33%;
    }

    .Movie .data {
        transform: translateY(calc(100%));
        transition: transform 0.5s linear;
    }

    .Movie:hover .data {
        transform: translateY(0);
    }
}