.Details {
	color: #fefefe;

	.heroImage {
		background-position: center 20%;
		background-size: 100% auto;
		box-sizing: border-box;
		height: 240px;
		padding: 0;
		@media screen and (min-device-width: 641px) {
			height: 330px;
		}
	}
	.movieDetails {
		padding: 0 1rem;
		@media screen and (min-device-width: 641px) {
			padding: 0;
		}
	}
}


  