@import "variables.scss";

body {
    background: #434343;
    background-image: linear-gradient(to right, #434343, #000000);
    background-attachment: fixed;	
    background-size: cover;
}

img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
}

p {
    font-size: 16px;
    letter-spacing: 0.03rem;
    line-height: 25px;
}

.App {
    
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        @media screen and (min-device-width: 641px) {
            padding: 0 1rem;
        }
    }

}