@import "variables.scss";

img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.App {
    background: $primaryColor;
    
    main {
        height: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    h1 {
        color: #fff;
    }
}