/* TODO: make the below mobile first */

.movieList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie {
    cursor: pointer;
    display: flex;
    flex-basis: 33.33%;
    position: relative;
}

.movieTitle {
    align-self: flex-end;
    background: rgb(0, 0, 0, 0.7);
    color: #fff;
    margin: 0;
    opacity: 0;
    padding: 1.5rem 0;
    position: absolute;
    text-align: center;
    transition: opacity 0.5s linear;
    width: 100%;
}

.movie:hover .movieTitle {
    opacity: 1;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

@media screen and (max-device-width: 640px) { 
    .movieList {
        flex-direction: column;
    }

    .movie {
        flex-basis: 100%;
    }

    .movieTitle {
        opacity: 1;
    }
}